html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    background: url("ASSETS/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    overflow: hidden;
    display: none;
} 

.screen.active {
    overflow: hidden;
    display: block;
}

#passcode-box {
    width: 30vh;
    aspect-ratio: 2.5 / 3.9;
    margin: auto;
    margin-top: 20vh;
    padding: 20px;
    border-radius: 12px;
    background: url("ASSETS/All-in-One.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 0.2px solid black;
}

.passcode-head{
    margin-top: 13vh;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#passcode-input {
    width: 84%;
    padding: 6px 12px;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 14px;
    text-align: center;
    border: 2px solid #333;
    outline: none;
}

#passcode-btn{
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#passcode-error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

#WaitingScreen{
    margin-top: -5vh;
    text-align: center; 
    color: black; 
    font-family: 'Arial', sans-serif; 
}

.welcome{
    height: 5vh; 
} 

.initializing{ 
    margin: 7vh 0 1vh 0; 
    font-size: 19px; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
} 

.initializing::after { 
    content: "."; 
    animation: dots 2.5s steps(4, end) infinite; 
} 

@keyframes dots {
    0% { content: "."; } 
    33% { content: ".."; } 
    66% { content: "..."; } 
    100% { content: ""; } 
}

.card-container{
    margin: 0 5vh; 
} 

.cardImage{ 
    margin-top: 1vh; 
    width: 40vh; 
    height: auto;
    position: relative;
    z-index: 1; 
}

.cardContent{
    position: absolute;
    top: 8vh;   /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 35vh;
    font-size: 15px;
    z-index: 2;
} 

.regular{
    margin: 2vh 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
} 

.regular strong{ 
    color: red;
    font-weight: bolder;
} 

.feature{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 15px; 
    font-weight: bolder; 
} 

#enterBtn {
    width: 75%;
    height: 5vh;
    font-size: 2.5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    border-radius: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

#enterBtn:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

#quiz-container {
    max-width: 600px;
    aspect-ratio: 2.5 / 3.6;
    margin: auto;
    margin-top: 15vh;
    padding: 11vh 5vh;
    border-radius: 12px;
    background: url("ASSETS/All-in-One.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    border: 0.2px solid black;
    width: 90%;
    box-sizing: border-box;
}

.quiz-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#question-number {
    font-weight: bold;
    font-size: 3vh;
    text-align: left;
}

#live-score {
    font-weight: bold;
    font-size: 3vh;
    text-align: left;
}

#timer{
    margin: 0.5vh auto 1vh auto;
    font-weight:bold;
    font-size: 3vh;
}

#quiz-box{
    height: 38vh;
    padding: 1vh;
    background: rgb(200, 200, 200, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

#question {
    max-height: 10vh;
    margin: 0.5vh auto;
    padding: 1vh 0;
    font-size: 3vh;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.option {
    padding:0;
    font-size: 2vh;
    border: none;
    border-radius: 8px;
    background-color: #e0d4f7;
    color: #333;
    cursor: pointer;
    transition: 0.3s ease;
    flex: 1 1 calc(50% - 24px);
    min-width: 120px;
}
/*
.option:hover:not(:disabled):not(.correct):not(.wrong) {
    background-color: #663399;
    color: white;
    font-weight: bold;
}

.option.correct {
    background-color: #0bb60b;
    color: white;
    font-weight: bold;
}

.option.wrong {
    background-color: #FF0000;
    color: white;
    font-weight: bold;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    text-align: end, center;
    margin: 70px 0 0 0;
    line-height: 10px;
}
