html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: url("ASSETS/Background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
}

.screen {
  overflow: hidden;
  display: none;
} 

.screen.active {
    overflow: hidden;
    display: block;
}

#passcode-box {
  width: 75%;
  aspect-ratio: 2.5 / 3.9;
  margin: 25vh auto;
  padding: 20px;
  border-radius: 12px;
  background: url("ASSETS/All-in-One.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border: 0.2px solid black;
}

.passcode-head{
  margin-top: 15vh;
  font-size: larger;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

#passcode-input {
  width: 75%;
  padding: 6px 12px;
  margin-bottom: 3vh;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 14px;
  text-align: center;
  border: 2px solid #333;
  outline: none;
}

#passcode-btn{
  width: 75%;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

#passcode-error {
  color: red;
  font-weight: bold;
  font-size: 1vh;
  margin-top: 10px;
}


#WaitingScreen{
    text-align: center; 
    color: black; 
    font-family: 'Arial', sans-serif; 
}

.welcome{ 
    margin-top: 15vh;
    width: 90%;
} 

.card-container{
    width: 30vh;
    aspect-ratio: 2.5 / 3.9;
    margin: 2vh auto;
    padding: 20px;
    border-radius: 12px;
    background: url("ASSETS/All-in-One.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border: 0.2px solid black;
} 

.cardContent{
    position: absolute;
    top: 45vh;   /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 35vh;
    font-size: 15px;
    z-index: 2;
} 

.initializing{ 
    margin: 2vh 0 1vh 0; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    font-size: 21px;
} 

.initializing::after { 
    content: "."; 
    animation: dots 2.5s steps(4, end) infinite; 
} 

@keyframes dots {
    0% { content: "."; } 
    33% { content: ".."; } 
    66% { content: "..."; } 
    100% { content: ""; } 
}

.warn{
  margin-top: 10vh;
  font-size: 10px;
}

#quiz-container {
  max-width: 600px;
  aspect-ratio: 2.5 / 3.6;
  margin: auto;
  margin-top: 15vh;
  padding: 11vh 5vh;
  border-radius: 12px;
  background: url("ASSETS/All-in-One.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  border: 0.2px solid black;
  width: 90%;
  box-sizing: border-box;
}

.quiz-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#question-number {
  font-weight: bold;
  font-size: 3vh;
  text-align: left;
}

#live-score {
  font-weight: bold;
  font-size: 3vh;
  text-align: left;
}

#timer{
  margin: 0.5vh auto 1vh auto;
  font-weight:bold;
  font-size: 3vh;
}

#quiz-box{
  height: 38vh;
  padding: 1vh;
  background: rgb(200, 200, 200, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

#question {
  max-height: 10vh;
  margin: 0.5vh auto;
  padding: 1vh 0;
  font-size: 3vh;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.option {
  padding:0;
  font-size: 2vh;
  border: none;
  border-radius: 8px;
  background-color: #e0d4f7;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
  flex: 1 1 calc(50% - 24px);
  min-width: 120px;
}
/*
.option:hover:not(:disabled):not(.correct):not(.wrong) {
  background-color: #663399;
  color: white;
  font-weight: bold;
}

.option.correct {
  background-color: #0bb60b;
  color: white;
  font-weight: bold;
}

.option.wrong {
  background-color: #FF0000;
  color: white;
  font-weight: bold;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
}

footer {
  text-align: end, center;
  margin: 70px 0 0 0;
  line-height: 10px;
}
